.tictac{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/group-4.png');
	background-size: cover;
}

.motto{
	display: flex;
	flex-direction: column;
	font-size: 30px;
	justify-content: left;
	font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

p{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

}

.button1{
	all: unset;
	background-color: #ffffff;
	border-radius: 32px;
	justify-content: space-between;
	padding: 1em;
  margin: 3 auto;
  justify-self: center;
  text-align: center;
	box-shadow: 0 4px 12px 0 rgba(255, 102, 146, 0.4);
	font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6692;
}

.emptyspace{
	background-image: url('../../assets/group-22.svg');
	background-size: cover;
	display: flex;
	flex-direction: row;
	margin: 3em 1em;
	height: 200px;
	justify-content: center;
	align-items: center;
}

.button2{
	font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.9;
  letter-spacing: normal;
  text-align: center;
  color: #ff6692;
  padding: 2em 2em;
}